.order {
    margin: 20px auto;
    width: 240px;
    opacity: 1;
    animation: order-appear 2s ease;
}

@keyframes order-appear {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.large-order {
    margin: 20px;
}

mat-card-header {
    width: 100%;
}

mat-icon {
    border-radius: 50%;
    cursor: pointer;
}

.album h3 {
    margin: 5px;
}

.album h4 {
    margin: 0 0 5px 0;
}

.album {
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

.late {
    color: red;
}