.order {
    margin: 20px 0;
}

mat-card-header {
    width: 100%;
}

mat-icon {
    border-radius: 50%;
}

.album h3 {
    margin: 5px;
}

.album h4 {
    margin: 0 0 5px 0;
}

.album {
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

.late {
    color: red;
}