.order {
    margin: 20px 0;
}

mat-card-header {
    width: 100%;
}

.album h3 {
    margin: 5px;
}

.album {
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

.late {
    color: red;
}