<h3>Sign Up</h3>

<form 
    (ngSubmit)="onSubmit()" 
    [formGroup]="signUpForm"
    fxLayout="column"
    fxLayoutAlign="center center" 
    [ngClass.gt-xs]="'large-form'">

    <app-input 
        [control]="signUpForm.get('email')"
        label="Email" 
        type="email"
        placeholder="Ex. me@myemail.com">
    </app-input> 

    <app-input
        [control]="signUpForm.get('username')"
        label="Username" 
        type="text" 
        placeholder="Ex. Recordcollector, MusicLover">
    </app-input>

    <app-input
        [control]="signUpForm.get('password')"
        label="Password" 
        type="password" 
        placeholder="Enter your password">
    </app-input>

    <app-input
        [control]="signUpForm.get('passwordConfirmation')"
        label="Password Confirmation" 
        type="password" 
        placeholder="Please re-enter password">
    </app-input>

    <ng-container *ngIf="signUpForm.errors && signUpForm.get('passwordConfirmation')!.dirty">
        <div class="error" *ngIf="signUpForm.errors.passwordsDontMatch">
            Passwords need to match
        </div>
    </ng-container>

    <button 
        mat-raised-button 
        color="primary"
        [disabled]="!signUpForm.valid">Submit</button>
</form>