<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-list>
            <mat-list-item>
                <a routerLink="/" class="nav" (click)="sidenav.close()">Sign In</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="signup" class="nav" (click)="sidenav.close()">Sign Up</a>
            </mat-list-item>

            <mat-list-item *ngIf="isLoggedIn">
                <a routerLink="/signout" class="nav" (click)="sidenav.close()">Sign Out</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <mat-toolbar>
                <button mat-icon-button (click)="sidenav.open()" class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>
                    <h1>Record Tracker</h1>
                </span>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>