<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-nav (close)="sidenav.close()"></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <mat-toolbar>
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>
                    <h1>Record Tracker</h1>
                </span>
            </mat-toolbar>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>