h1 {
    font-size: 1.7rem;
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.container {
    position: relative;
    top: 60px;
    padding: 0 40px;
}

.large-sidenav {
    width: 300px;
}