h1 {
    font-size: 1.7rem;
    margin-left: 10px;
}

mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

mat-list {
    padding: 20px 10px;
}

.nav a {
    text-decoration: none;
    color: #444;
    margin-left: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.container {
    position: relative;
    top: 60px;
    padding: 0 40px;
}