<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
        #input
        matInput
        [formControl]="control"
        [type]="type"
        [placeholder]="placeholder"
        [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let option of options" [value]="option">
            {{ option.name }}
        </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="control.errors">
        <mat-error *ngIf="control.errors.required">
            Value is required
        </mat-error>
        <mat-error *ngIf="control.errors.email">
            Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="control.errors.minlength">
            Please include at least {{ control.errors.minlength.requiredLength }} characters
        </mat-error>
        <mat-error *ngIf="control.errors.maxlength">
            Please don't include more than {{ control.errors.maxlength.requiredLength }} characters
        </mat-error>
    </mat-error>

</mat-form-field>